

<div class="card flex justify-content-center">
  <a routerLink="/add-charcter-edit">Add Character</a>  
  <p-card header="Simple Card">
        <p class="m-0">
   
            @defer (when store.characters().length) {
                @for (character of store.characters(); track character.id) {
                   @defer (on viewport) {
                     <app-character-card [character]="character" />
                   }@placeholder {
                      <div>...Loading</div>
                   }   
                }  
              }
        </p>
    </p-card>
     
  </div>
