<pre> {{ applicationForm | json }}</pre>

<form
#form="ngForm"
(reset)="handleReset($event)"
(ngSubmit)="handleSubmit()">
  <h1>Job Application Form</h1>

  <div class="form-group">
    <div class="form-group-box" ngModelGroup="name">
      <div class="form-row">
        <label for="first-name">First</label>
        <input
          type="text"
          name="first"
          [(ngModel)]="applicationForm.name.first"
          [ngModelOptions]="{ name: 'frist', updateOn: 'blur' }"
          placeholder="Enter first name"
          required
          minlength="2"
          #firstNameControl="ngModel"
          [bannedWord]="['admin', 'word']"
        />
        @if(firstNameControl.touched && firstNameControl.hasError('required')){
          <div class="error-required">
            This field is required
          </div>
        }
      @if(firstNameControl.touched && firstNameControl.hasError('minlength')){
          @let minlengthError = firstNameControl.getError('minlength');

          <div class="error-required">
            The required length for this field is
            <strong>{{minlengthError.requiredLength}}</strong>
          </div>
        }
       @if(firstNameControl.touched && firstNameControl.hasError('bannedWordValidator')){
          @let bannedWordError = firstNameControl.getError('bannedWordValidator');

          <div class="error-required">
            The word "<strong>{{bannedWordError.bannedWord}}</strong>" is not allowed
          </div>
        }
      </div>
      <div class="form-row">
        <label for="last-name">Last</label>
        <input
          type="text"
          name="last"
          [(ngModel)]="applicationForm.name.last"
          placeholder="Enter last name"
          required
          minlength="2"
          #lastNameControl="ngModel"
          [bannedWord]="['test', 'demo']"
        />

        @if(lastNameControl.touched && lastNameControl.hasError("required")){
          <div class="error-required">
            This field is required
          </div>
        }

        @if(lastNameControl.touched && lastNameControl.hasError('minlength')){
          @let minlengthErro = lastNameControl.getError('minlength');
          <div class="error-required">
            The required minlength for this field is
            <strong>{{minlengthErro.requiredLength}}</strong>
          </div>
        }

        @if(lastNameControl.touched && lastNameControl.hasError('bannedWordValidator')){
          @let bannedWordError = lastNameControl.getError('bannedWordValidator');
          <div class="error-required">
            The word "<strong>{{bannedWordError.bannedWord}}</strong>" is not allowed
          </div>
        }

      </div>
    </div>
  </div>

  <div class="form-group">
   <div class="form-group-box" ngModelGroup="email" confirmEmail>
    <div class="form-row">
    <label for="email">Email</label>
    <input type="email" name="email"
     [(ngModel)]="applicationForm.email.email"
     placeholder="Enter your email"
     #emailControl="ngModel"
     required
     email
     checkEmail
     />
     @if(emailControl.dirty && emailControl.hasError("required")){
      <div class="error-required">
        This field is required
      </div>
     }
     @if(emailControl.dirty && emailControl.hasError('email')){
      <div class="error-required">
        You mus type an email ****&&
      </div>
     }

     @if(emailControl.dirty && emailControl.hasError('isAnExistingEmail')){
      <div class="error-required">
        This Email is already taken
      </div>
     }

      @if(emailControl.pending){
      <div class="error-required">
         Cheking this email...
      </div>
     }
  </div>
     <div class="form-row">
    <label for="email">Confirm email</label>
    <input
     type="email"
     name="confirm-email"
     [(ngModel)]="applicationForm.email.confirmationEmail"
     placeholder="Confirm email"
     required="true"
     #confirmEmailControl="ngModel"
     email
     />

  </div>
   </div>

   @if(emailControl.dirty && emailControl.hasError("required")){
      <div class="error-required">
        This.field is required
      </div>
   }

   @if(confirmEmailControl.touched && confirmEmailControl.hasError("required")){
    <div class="error-required">
        This field is required
      </div>
   }
   @if(confirmEmailControl.touched && confirmEmailControl.hasError("noMatch")){
      <div class="error-required">
        Email doesn't match
      </div>
   }

  </div>



  <h4>What is your current employement status?</h4>
  <div class="row-form">
    <div class="form-radio-control">
      <label for="">Employee</label>
      <input
        type="radio"
        value="employee"
        name="employmentStatus"
        [(ngModel)]="applicationForm.employmentStatus"
        required
        #employmentStatus="ngModel"
      />
    </div>
    <div class="form-radio-control">
      <label for="">Unemployee</label>
      <input
        type="radio"
        value="unemployee"
        name="employmentStatus"
        [(ngModel)]="applicationForm.employmentStatus"
        required
        #employmentStatus="ngModel"
      />
    </div>
    <div class="form-radio-control">
      <label for="">Self-Employee</label>
      <input
        type="radio"
        name="employmentStatus"
        value="self-employee"
        [(ngModel)]="applicationForm.employmentStatus"
        required
        #employmentStatus="ngModel"
      />
    </div>
    <div class="form-radio-control">
      <label for="">Student</label>
      <input
        type="radio"
        name="employmentStatus"
        value="student"
        [(ngModel)]="applicationForm.employmentStatus"
        required
        #employmentStatus="ngModel"
      />
    </div>
      @if(employmentStatus.touched && employmentStatus.hasError("required")){
      <div class="error-required">
        This field is required
      </div>
     }
  </div>

  <div class="row-form">
    <label for="">what position are you appling for?</label>
    <select
      id="open-positions"
      name="positionSelected"
      [(ngModel)]="applicationForm.positionSelected"
      required
      #openPosition="ngModel"

    >
      <option value="">Select an option</option>
      <option value="angular">Angular Developer</option>
      <option value="php">Php Developer</option>
      <option value="java">Java Developer</option>
      <option value="python">Python Developer</option>
    </select>
      @if(openPosition.touched && openPosition.hasError("required")){
      <div class="error-required">
        This field is required
      </div>
     }
  </div>

  <div class="row-form">
    <label for="resume">Please provide resume link</label>
    <input
      type="text"
      id="resume-link"
      placeholder="https://www.example.com"
      name="resume-link"
      [(ngModel)]="applicationForm.resumeLink"
      required
      pattern="www\.[a-zA-Z0-9]+\.com"
      #resumeLink="ngModel"

    />
     @if(resumeLink.touched && resumeLink.hasError("required")){
      <div class="error-required">
        This field is required
      </div>
     }

     @if(resumeLink.touched && resumeLink.hasError("pattern")){
      <div class="error-required">
        It should be something like this <strong>www.example.com</strong>
      </div>
     }
  </div>

   <div class="row-form">
    Verify account with:
    <div class="form-radio-control">
    <input
        type="radio"
        value="email"
        name="verify-account"
        value="email"
        [(ngModel)] = "verifyAccountWith"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="handlePhoneNumber()"
        />
        <label> Email</label>
    </div>
<div class="form-radio-control">
      <input
        type="radio"
        value="email"
        name="verify-account"
        value="phone number"
        [(ngModel)]="verifyAccountWith"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="handlePhoneNumber()"


        />
        <label> Phone Number</label>
    </div>

    </div>

    @if(verifyAccountWith === 'phone number'){

      <div class="row-form">
       <label for="resume">Phone Number</label>
       <input
         type="text"
         id="phone-number"
         placeholder="Phone number"
         name="phone-number"
         [(ngModel)]="applicationForm.phoneNumber"
         required
         minlength="4"
         pattern="\d*"
         #phoneNumber="ngModel"

       />
        @if(phoneNumber.touched && phoneNumber.hasError("required")){
         <div class="error-required">
           This field is required
         </div>
        }

        @if(phoneNumber.touched && phoneNumber.hasError("pattern")){
         <div class="error-required">
           This field only accepts numbers
         </div>
        }
     </div>
    }


  <div class="row-form">
    <button class="btn btn-secondary">Reset</button>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
