<div class="container mx-auto mt-5">
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2 border border-gray-300">ID</th>
          <th class="px-4 py-2 border border-gray-300">Name</th>
          <th class="px-4 py-2 border border-gray-300">Email</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users(); track $index) {
            <tr>
                <td class="px-4 py-2 border border-gray-300">{{ user.id}}</td>
                <td class="px-4 py-2 border border-gray-300">{{ user.email }}</td>
                <td class="px-4 py-2 border border-gray-300">{{ user.username }}</td>
              </tr>
            
        }
        </tbody>
    </table>
  
  
  </div>
  