<form  [formGroup]="form" (ngSubmit)="handleSubmit()">

  <div>
    <label for="name">Name</label>
    <input id="name"  type="text" name="name" formControlName="name"/>
     <div class="error">
      <small>Name is required</small>
     </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" formControlName="password"/>
    @if(form.get('password')?.errors?.['required']) {
      <small>Password is required</small>
    }
    @if(form.get('password')?.errors?.['minlength']){
      <small>Password minim required is 6</small>
    }
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword"/>
    @if(form.errors && form.errors['passwordNotMatch']) {
       <div class="error">
         <small>Confirm Password is required.</small>
         <small>Passwords must match.</small>
        </div>
    }

  </div>

  <button type="submit">Send</button>
</form>
